extends layout

block content
  h1.header The best teams of the Ukrainian Premier League 2024/2025
  p
  .card.mb-3(style='max-width: 1200px;')
    .row.g-0
      .col-md-4
        img.img-fluid.rounded-start(src='/images/dynamokyiv.jpg' alt='Dynamo Kyiv')
      .col-md-8
        .card-body
          h5.card-title 1. FC Dynamo Kyiv
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          //p.card-text
            small.text-body-secondary Last updated 3 mins ago
  
  .card.mb-3(style='max-width: 1200px;')
    .row.g-0
      .col-md-4
        img.img-fluid.rounded-start(src='/images/oleksandriya.jpg' alt='Dynamo Kyiv')
      .col-md-8
        .card-body
          h5.card-title 2. FC Oleksandriya
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
  
  .card.mb-3(style='max-width: 1200px;')
    .row.g-0
      .col-md-4
        img.img-fluid.rounded-start(src='/images/shakhtar.jpg' alt='Dynamo Kyiv')
      .col-md-8
        .card-body
          h5.card-title 3. FC Shakhtar Donetsk
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
  
  .card.mb-3(style='max-width: 1200px;')
    .row.g-0
      .col-md-4
        img.img-fluid.rounded-start(src='/images/polissya.jpg' alt='Dynamo Kyiv')
      .col-md-8
        .card-body
          h5.card-title 4. FC Polissya Zhytomyr
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

