extends layout

block content
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-6
        br
        .card.bg-light.shadow
          article.card-body.mx-auto
            h4.card-title.mt-3.text-center Log in 
            p.text-center Welcome back
            form(action="/api/login" method="POST")
              .form-group.input-group
                input.form-control(type='email' name="email" placeholder='Email address' required)
              .form-group.input-group
                input.form-control(type='password' name="password"  placeholder='Password' required)
              .form-group
                button.btn.btn-primary.btn-block(type='submit') Log In
              p.text-center
                | I do not have an account. 
                br
                a(href='/signin') Sign in
