extends layout

block content
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-6
        br
        .card.bg-light.shadow
          article.card-body.mx-auto
            h4.card-title.mt-3.text-center Create Account
            p.text-center Get started with your free account
            if error
              .alert.alert-danger #{error}
            form(action="/signin" method="POST")
              .form-group.input-group
                input.form-control(type='text' name='name' placeholder='Full name' required)

              .form-group.input-group
                input.form-control(type='email' name='email' placeholder='Email address' required)

              .form-group.input-group
                input.form-control(type='text' name='countryCode' placeholder='Country Code (e.g. +353)')

              .form-group.input-group
                input.form-control(type='text' name='phone' placeholder='Phone number')

              .form-group.input-group
                input.form-control(type='date' name='dob' required)

              .form-group.input-group
                select.form-control(name='county' required)
                  option(value='' disabled selected) Select your county
                  option Carlow
                  option Cavan
                  option Clare
                  option Cork
                  option Donegal
                  option Dublin
                  option Galway
                  option Kerry
                  option Kildare
                  option Kilkenny
                  option Laois
                  option Leitrim
                  option Limerick
                  option Longford
                  option Louth
                  option Mayo
                  option Meath
                  option Monaghan
                  option Offaly
                  option Roscommon
                  option Sligo
                  option Tipperary
                  option Waterford
                  option Westmeath
                  option Wexford
                  option Wicklow

              .form-group.input-group
                input.form-control(type='password' name='password' placeholder='Create password' required)

              .form-group.input-group
                input.form-control(type='password' name='password2' placeholder='Repeat password' required)

              .form-group
                button.btn.btn-primary.btn-block(type='submit') Create Account

              p.text-center
                | Have an account? 
                a(href='/login') Log In
