extends layout

block content
    .container
      .formBox
        form
          .row
            .col-sm-6
              h1 Register Account
          .row
            .col-sm-6
              .inputBox
                .inputText First Name
                input.input(type='text' name='')
            .col-sm-6
              .inputBox
                .inputText Last Name
                input.input(type='text' name='')
          .row
            .col-sm-6
              .inputBox
                .inputText Email
                input.input(type='text' name='')
            .col-sm-6
              .inputBox
                .inputText Mobile
                input.input(type='text' name='')
          .row
            .col-sm-6
              .inputBox
                .inputText Email
                textarea.input
          .row
            .col-sm-6
              input.button(type='submit' name='' value='Send Message')


