extends layout

block content
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-6
        br
        .card.bg-light.shadow
          article.card-body.mx-auto
            h4.card-title.mt-3.text-center Create Account
            p.text-center Get started with your free account
            form(action="/home" method="GET")
              .form-group.input-group
                input.form-control(type='text' name='name' placeholder='Full name' required)

              .form-group.input-group
                input.form-control(type='email' name='email' placeholder='Email address' required)

              .form-group.input-group
                .input-group-prepend
                  select.custom-select(name='countryCode' style='max-width: 120px;')
                    option(selected='') +353
                input.form-control(type='text' name='phone' placeholder='Phone number' required)

              .form-group.input-group
                input.form-control(type='date' name='dob' placeholder='Date of Birth' required)

              .form-group.input-group
                select.form-control(name='county' required)
                  option(value='') Select county
                  option Antrim
                  option Armagh
                  option Carlow
                  option Cavan
                  option Clare
                  option Cork
                  option Derry
                  option Donegal
                  option Down
                  option Dublin
                  option Fermanagh
                  option Galway
                  option Kerry
                  option Kildare
                  option Kilkenny
                  option Laois
                  option Leitrim
                  option Limerick
                  option Longford
                  option Louth
                  option Mayo
                  option Meath
                  option Monaghan
                  option Offaly
                  option Roscommon
                  option Sligo
                  option Tipperary
                  option Tyrone
                  option Waterford
                  option Westmeath
                  option Wexford
                  option Wicklow

              .form-group.input-group
                input.form-control(type='password' name='password' placeholder='Create password' required)

              .form-group.input-group
                input.form-control(type='password' name='password2' placeholder='Repeat password' required)

              .form-group
                button.btn.btn-primary.btn-block(type='submit') Create Account

              p.text-center
                | Have an account? 
                a(href='/') Log In
